/IdeaProjects/weichaojie/weichaojie.log
/IdeaProjects/weichaojie/out
/.idea
/AndroidProjects/SettingsParser/app/libs
/IdeaProjects/SayHelloTest/.idea
/IdeaProjects/SayHelloTest/SayHelloTest.iml
/IdeaProjects/SayHelloTest/out
